<h1>Enter A New Recipe</h1>
<form method="post" action="/recipes">
<p>Name: <input type="text" name="recipe[name]"></p>
<p>Ingredients: <input type="text" name="recipe[ingredients]"></p>
<p>Cooking Time: <input type="text" name="recipe[cook_time]"></p>
<input type="submit" id="submit">
</form>